{
    servers {
        protocols h1 h2
    }
}

{$PMGUARD_DOMAIN} {
    encode zstd gzip

    handle_path /api/* {
        reverse_proxy {
            dynamic a backend 3000 {
                refresh 5s
                resolvers 127.0.0.11
                versions ipv4
            }
        }
    }

    handle {
        reverse_proxy {
            dynamic a frontend 3000 {
                refresh 5s
                resolvers 127.0.0.11
                versions ipv4
            }
        }
    }

    header {
        Alt-Svc "clear"
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        -Server
    }
}
